<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
        body{
        font-family: 'Samim', Arial, sans-serif;
        text-align: center;
        background-color: white;
        }
        header{
        background-color: #e2e3e5 !important;
        }
    </style>
    @{
        Layout = "";
    }
</head>

<body>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron">
        <h3 class="text text-danger">شما به این قسمت دسترسی ندارید</h3>
    </div>
</div>
</body>
</html>